@import "./variable.css";

.header {
    background-color: var(--primary-900);
}

.header_nav a {
    text-decoration: none;
    font-size: var(--text-base);
}

.logo_img {
    width: 36px;
    padding: 12px 0;
}

.group_menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.group_auth {
    gap: 24px;
}

.header_nav .register_link {
    color: var(--primary-100);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 18px;
    border: 1px solid var(--primary-100);
    font-size: var(--text-base);
}

.header_nav .login_link {
    color: var(--primary-900);
    background-color: var(--primary-100);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 18px;
    border: 1px solid var(--primary-100);
    font-size: var(--text-base);
}

.item_auth {
    cursor: pointer;
    padding: 18px 0;
    position: relative;
}

.item_auth_sub_wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: -120px;
    min-width: 240px;
    background-color: var(--primary-900);
    transition: all 0.3s ease;
    z-index: 10;
}

.item_auth_sub_wrapper_inner {
    display: flex;
    flex-direction: column;
}

.item_auth_btn {
    padding: 12px 0;
}

.btn-none {
    text-align: left;
}

.name_customer {
    padding: 12px 0;
}

.item_auth:hover .item_auth_sub_wrapper {
    display: block;
}

.menu_link {
    position: relative;
    padding: 18px 0;
    cursor: pointer;
}

.menu_link:hover .menu_sub_wrapper,
.menu_sub_wrapper:hover {
    display: block;
}

.menu_sub_wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-900);
    transition: all 0.3s ease;
    z-index: 10;
}

.menu_sub_wrapper_inner {
    display: flex;
    flex-direction: column;
    min-width: 180px;
}

.menu_sub_link {
    width: 100%;
    padding: 12px;
    transition: all 0.3s ease;
}

.menu_sub_link:hover {
    background-color: var(--primary-800);
}

.has-items {
    position: absolute;
    top: -8px;
    right: -8px;
    min-width: 16px;
    height: 16px;
    background-color: var(--error-500);
    border-radius: 8px;
    font-size: var(--text-sm);
    color: var(--primary-100);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.footer {
    background-color: var(--primary-900);
    padding: 48px 0 0 0;
}

.footer_logo {
    width: 60px;
    height: 60px;
}

.footer_logo_wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer_copyright {
    background-color: var(--primary-800);
    padding: 12px 0;
    color: var(--primary-100);
    text-align: center;
}

.footer_copyright p {
    font-size: var(--text-sm);
    margin: 0;
}

.breadcrumb {
    background-color: transparent;
    align-items: center;
    margin: 0;
}

.breadcrumb-logo {
    width: 20px;
    height: 20px;
}

.menu_mobile {
    display: none;
}

.search_input_wrapper {
    display: flex;
    align-items: center;
    gap: 0;
    padding: 12px 20px;
}

.search_input {
    width: 100%;
}

.search_input input {
    width: 100%;
    height: 40px;
    border-top-left-radius: 20px;
    padding: 0 12px;
    border-bottom-left-radius: 20px;
    border: 1px solid var(--primary-100);
}

.search-btn-action {
    height: 40px;
    padding: 0 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--primary-900);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.486);
}



@media screen and (max-width: 768px) {
    .group_menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--primary-800);
        z-index: 10;
    }

    .menu_link {
        display: block;
        padding: 24px;
    }

    .item_auth_sub_wrapper {
        min-width: 100vw;
        left: unset;
        right: -15px;
    }

    .menu_sub_wrapper_inner {
        min-width: 100vw;
    }

    .hamburger-btn {
        display: block;
        padding: 16px 0;
    }

    .search-btn {
        padding: 16px 0;
    }

    .menu_mobile {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .menu_search {
        display: none;
        position: absolute;
        top: 60px;
        width: 100vw;
        left: 0;
        background-color: var(--primary-800);
        z-index: 10;
    }

    .auth_link_text {
        display: none;
    }

    /* Animation cho menu */
    .group_menu, .menu_search.d-md-none {
        display: none;
        transform: translateY(-20px);
        animation: slideDown 0.3s ease forwards;
    }

    .header_nav .login_link,
    .header_nav .register_link {
        padding: 12px 0;
        background-color: transparent;
        border: none;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .sliding-up {
        animation: slideUp 0.3s ease forwards;
    }
}